

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --primary: #ffffff;
    --background: #0c122c;
    --essential: #f3c200;

}

.logo {
    max-width: 40px;
    height: auto;
    display: block;
    color: white;
    
}

#logo-name {
    margin: 0;
    padding: 0;
    margin-right: auto;
}


.navbar {
    margin: 0;
    padding: 1;
    list-style: none;
    font: 1.2em;
    display: flex;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
   
}

.navbar a {  
   display: flex;
  align-items: center;
  justify-content: center;

  width: 110px;
  height: 40px;

  text-decoration: none;
  color: white;
  font-size: 18px;

  border-radius: 8px;
  transition: background 0.2s;
}

.links {
    color: var(--primary);
    text-decoration: none;
    font-size: 18px;
    text-justify: auto;
    hyphens: auto;
    
}

.links:hover {
    color: rgb(100, 150, 226);
}


body {
    background-color: var(--background);
    align-items:center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--primary);
}

.container {
    display: grid;
    font-size: 22px;
    place-items: center;
    font-weight: bold;
    p {
        font-weight: normal;
    }
}


#description {
    font-size: 16px;
}

.contact-reasons {
    list-style: disc;
    margin-left: 30px;
}

#email {
    color: var(--essential);
    text-decoration: none;
}

#email:hover {
    color: #3ca2ca;
}

.links-page a {
    color: var(--essential);
    text-decoration: none;
    text-align: center;
}

.links-page a:hover {
    color: #3ca2ca;
}
/* ELIMINAR COMENTARIO HASTA ARRIBA PARA VER LOS ESTILOS */