* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --primary: #ffffff;
    --background: #1d1d20;
    --essential: #f3c200;
    --links: #3ca2ca;

}

/* Navbar */

.navbar {
    list-style: none;
    font: 1.2em;
    display: flex;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    background-color: #0c0c0c;
    align-items: center;
    padding: 0;
    margin: 0;
}

.logo { 
    font-weight: 700; font-size: 1.1rem;
}

.navbar a {  
   display: flex;
  align-items: center;
  justify-content: center;

  width: 110px;
  height: 55px;

  text-decoration: none;
  color: white;
  font-size: 18px;

  border-radius: 0px;
  transition: background 0.2s;
}

.nav-links {
    color: var(--primary);
    text-decoration: none;
    font-size: 18px;
    gap: 1rem;
    text-justify: auto;
    hyphens: auto;
    
}

.nav-links:hover {
    color: rgb(100, 150, 226);
    background-color: #ffffff07;
}

/*  */
/* Footer */
footer {
    list-style: none;
    font: 1.2em;
    display: flex;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    background-color: #0c0c0c;
    align-items: center;
    padding: 0;
    margin: 0;
    position:static;
    bottom: 0;
    width: 100%;
}

footer a {  
   display: flex;
  align-items: center;
  justify-content: center;
    

  width: 110px;
  height: 55px;

  border-radius: 0px;
  transition: background 0.2s;
}
/*  */

body {
    background-color: var(--background);
    align-items:center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--primary);
    padding-bottom: 0%;
    margin: 0;
    margin-bottom: 0;
    height: 100%;
}

.container {
    display: grid;
    font-size: 22px;
    place-items: center;
    text-align: center;
    font-weight: bold;
    p {
        font-weight: normal;
    }
}


#description {
    font-size: 16px;
}

#about {
    text-align: center;
    font-size: 18px;
}

#ul-list {
    list-style: disc;
    margin-left: 2rem;
}

#email {
    color: var(--essential);
    text-decoration: none;
}

#email:hover {
    color: #3ca2ca;
}

/* Web Links */

.click-link a {
    color: var(--essential);
    text-decoration: none;
    text-align: center;
    font-weight: 600;
}

.click-link a:hover {
    color: var(--links);
}
