/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --primary: ;
    --background: #bce4ff;

}

body {
    background-color: var(--background);
}

.container {
    align-items:center
}

.responsive-logo {
    max-width: 13%;
    height: auto;
    display: block;
}

*/

/* ELIMINAR COMENTARIO HASTA ARRIBA PARA VER LOS ESTILOS */