/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --primary: #d1d1d1;
    --background: #0c122c;

}

.responsive-logo {
    max-width: 40px;
    height: auto;
    display: block;
}

body {
    background-color: var(--background);
    align-items:center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--primary);
}
.links {
    color: var(--primary);
    
}
.links:hover {
    color: rgb(100, 150, 226);
}
*/

/* ELIMINAR COMENTARIO HASTA ARRIBA PARA VER LOS ESTILOS */